{% extends "base.html.twig" %}
{% block body %}
<div class="container px-5 my-5">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="card border-0 rounded-3 shadow-lg">
          <div class="card-body p-4">
            <div class="text-center">
              <h3 class="thin-heading mb-4">Submit Form</sup></h3>
              <div id="demo">
              
              </div>
              
              <p class="mb-4 text-muted">Fill your Student code, github link and if you want to give me your draft of document.</p>
               <div class="alert alert-danger" role="alert">
                <div class="row">
                        <div class="col">
                            <strong>Attention!</strong> Attach your database file (.sql) to your GitHub!
                        </div>
                    </div>
                </div>
            </div>
  
            <form id="submitForm"
            enctype="multipart/form-data"
            >
  
              <!-- Student code Input -->
              <div class="form-floating mb-3">
                <input class="form-control" id="code" name="code" type="text" placeholder="Name" required/>
                <label for="code">Student Code</label>
                <div class="invalid-feedback" data-sb-feedback="name:required">Name is required.</div>
                <input type="hidden" id="group" name="group" value="{{ group }}">
              </div>
              <!-- GitHub Input -->
              <div class="form-floating mb-3">
                <input class="form-control" id="link" name="link" type="text" placeholder="Github link" required/>
                <label for="link">GitHub</label>
              </div>
  
              <!-- Message Input -->
              <div class="form-floating mb-3">
                <input type="file" class="form-control" id="docFile" name="docFile" />
                <label class="form-label" style="padding-top: 4px">Document (draft version)</label>
              </div>

               <!-- Link drive Input -->
              <div class="form-floating mb-3">
                <div class="alert alert-info" role="alert">
                <div class="row">
                        <div class="col">
                            If your document is greater than 10MB, please add your document files to GitHub. (I appreciate your flexibility &#128522;) 
                        </div>
                    </div>
                </div>
              </div>

              
  
              <!-- Submit button -->
              <div class="d-grid">
                {# Loader icon #}
                <div id="loader" style="margin: auto;display: flex;" class="mb-4">
                  <img src="{{ path("get_photo", {'filename' : 'loading.gif'}) }}">
                </div>
                <div id="result">
                
                </div>
               <input type="submit" name="submit" class="btn btn-success submitBtn" value="SUBMIT" id="subBtn"/>
              </div>
            </form>
            <!-- End of contact form -->
          </div>
        </div>
      </div>
    </div>
  </div>
</body>    
{% endblock %}