{% extends 'base.html.twig' %}

{% block title %}Submission Management!{% endblock %}
{% block stylesheets %}
{% endblock %}
{% block javascripts %}
  <script>
  $( function() {
    $("#loader").hide();
    $("#result").hide();
    var $code = $("#name");
    var $content = $("#content");
    var availableTags = function () {
      var tmp = null;
      $.ajax({
          'async': false,
          'type': "GET",
          'dataType': 'json',
          'url': "https://127.0.0.1:8000/student",
          'success': function (data) {
              tmp = data.slice();
          }
      });
      return tmp;
    }();
  Object.values = function(object) {
    var values = [];
    for(var property in object) {
      values.push(object[property].code);
    }
    return values;
  }
   console.log(Object.values(availableTags));
    $( "#tags" ).autocomplete({
      source: Object.values(availableTags)
    });

  $("#send").on("click",function(){
    var submit = {
            code: $name.val(),
            content: $content.val()
        };
     $.ajax({
          type: "POST",
          dataType: 'json',
          url: "https://127.0.0.1:8000/submit",
          beforeSend: function(){
              $("#loader").show();
          },
          complete: function () {
              $("#loader").hide();
          },
          success: function (data) {
              $("#loader").hide();
              $("#result").html("Success!");
          },
          error: function () {
              $("#loader").hide();
              $("#result").html("Error!");
          }
      });
  });
  } );
  </script>
{% endblock %}
{% block body %}

 <div class="container">
        {{ form_start(form) }}
        <div class="ui-widget">
            <label for="tags" class="form-label required">Student Code: </label>
            <input id="code" class="form-control" name="student_Id">
        </div>
        {{ form_widget(form) }}
        <div id="loader" style="margin-top:10px">
            <img src="{{ path("get_photo", {'filename' : 'loading.gif'}) }}">
        </div>
        <div id="result" class="alert alert-success" role="alert">
          
        </div>
        <button class="btn btn-success mt-5" id="send">Submit</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
